* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #889dea;
}
main {
  background-color: #fff;
  min-height: 100vh;
  border-top-left-radius: 50px;
}
/* HEADER */
header {
  background-color: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #889dea;
  border-bottom-right-radius: 50px;
}
.header_title {
  color: #fff;
}
.header_statistics {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
  color: #fff;
}
.statistics_item_name {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}
.statistics_item_count {
  text-align: center;
  font-size: 60px;
}
.plus_button {
  width: 90px;
  height: 90px;
  background-color: #88eaa9;
  border-radius: 30%;
  transform: rotate(45deg);
  position: relative;
  top: 45px;
  cursor: pointer;
}
.plus_button.active {
  -webkit-box-shadow: inset 0px 0px 24px 1px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 0px 24px 1px rgba(0, 0, 0, 0.18);
}
.plus_button::before {
  content: "";
  width: 35%;
  height: 3px;
  top: 85%;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg) translateY(-3px) translateX(45px);
}
.plus_button::after {
  content: "";
  width: 35%;
  height: 3px;
  top: 85%;
  left: 85%;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg) translateY(9px) translateX(-58px);
}
/* END OF HEADER */

/* CONTENT */
.content {
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
}
.todo_item {
  border-bottom: 1px solid #b9b9b9;
  padding: 20px 10px 10px 20px;
  transition: 0.1s linear;
}
.todo_item:hover {
  border-bottom: 2px solid #889dea;
}
.interface_line {
  display: flex;
  justify-content: space-between;
}
.interface_line .left_side {
  display: flex;
  align-items: center;
}

.done_checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin: 0 10px;
  border: 1px solid #889dea;
}

.done_checkbox:checked {
  background-color: #889dea;
}
.done_checkbox:checked::after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 4px;
  color: #fff;
}
.item_date {
  color: #889dea;
  font-weight: 300;
}
.item_date span {
  margin-right: 5px;
}
.user_icon {
  color: #b9b9b9;
  font-size: 20px;
  margin: 0 5px;
}
.user_icon:hover {
  color: #889dea;
}
.todo_input {
  -webkit-appearance: none;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-left: 40px;
}
.todo_input.task_done {
  color: #bbbbbb;
  text-decoration: line-through;
}
.todo_input::placeholder {
  color: #b9b9b9;
}

.have_no_item_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.have_no_item_container.hidden {
  display: none;
}
.have_no_item_container i {
  font-size: 400px;
}
.have_no_item_container h1 {
  font-size: 50px;
  text-align: center;
}

.create_new_task_btn {
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  width: 40%;
  background-color: #88eaa9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 11px;
}
.create_new_task_btn i {
  margin-right: 10px;
}
.create_new_task_btn.active {
  -webkit-box-shadow: inset 0px 0px 24px 1px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 0px 24px 1px rgba(0, 0, 0, 0.18);
}

@media (max-width: 768px) {
  .have_no_item_container i {
    font-size: 300px;
  }
  .have_no_item_container h1 {
    font-size: 50px;
  }
  .create_new_task_btn {
    width: 39%;
    font-size: 18px;
  }
  .create_new_task_btn i {
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .have_no_item_container i {
    font-size: 250px;
  }
  .have_no_item_container h1 {
    font-size: 40px;
  }
  .create_new_task_btn {
    width: 52%;
    font-size: 18px;
  }
  .create_new_task_btn i {
    margin-right: 10px;
  }
}
@media (max-width: 375px) {
  .have_no_item_container h1 {
    font-size: 35px;
  }
}
